In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\clean_data.parquet'

In [4]:
data = pd.read_parquet(path)

In [5]:
df =data.copy()

In [6]:
df.head(3)

,id,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,0,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,11000
1,1,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,8250
2,2,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,15000

### Transformation

In [7]:
label_encoder = LabelEncoder()

In [8]:
df['fuel_type_t'] = label_encoder.fit_transform(df['fuel_type'])

In [9]:
df.head(3)

,id,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price,fuel_type_t
0,0,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,11000,2
1,1,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,8250,2
2,2,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,15000,2

In [10]:
df['engine_t'] = label_encoder.fit_transform(df['engine'])
df['transmission_t'] = label_encoder.fit_transform(df['transmission'])
df['ext_col_t'] = label_encoder.fit_transform(df['ext_col'])
df['int_col_t'] = label_encoder.fit_transform(df['int_col'])
df['accident_t'] = label_encoder.fit_transform(df['accident'])

In [12]:
df1 = df.copy()

In [13]:
del df1['engine']
del df1['transmission']
del df1['ext_col']
del df1['int_col']
del df1['accident']

In [15]:
del df1['fuel_type']

In [16]:
df1.head(5)

,id,model_year,milage,price,fuel_type_t,engine_t,transmission_t,ext_col_t,int_col_t,accident_t
0,0,2018,74349,11000,2,719,2,26,57,1
1,1,2007,80000,8250,2,534,18,17,9,1
2,2,2009,91491,15000,2,541,14,181,6,1
3,3,2022,2437,63500,3,646,43,100,24,1
4,4,2001,111000,7850,2,219,34,249,9,1

In [17]:
df1['+5000millas'] = df['milage'].apply(lambda x: 1 if x > 5000 else 0)

In [18]:
df1.head(5)

,id,model_year,milage,price,fuel_type_t,engine_t,transmission_t,ext_col_t,int_col_t,accident_t,+5000millas
0,0,2018,74349,11000,2,719,2,26,57,1,1
1,1,2007,80000,8250,2,534,18,17,9,1,1
2,2,2009,91491,15000,2,541,14,181,6,1,1
3,3,2022,2437,63500,3,646,43,100,24,1,0
4,4,2001,111000,7850,2,219,34,249,9,1,1

In [19]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\transform_data.parquet'

In [20]:
df1.to_parquet(path)

### Label encoder export
Exporto el label encoder para utilizarlo despues en el modelo.

In [21]:
import joblib as jb

In [22]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\label_encoder.pkl'
jb.dump(label_encoder, path)

['D:\\0_Respaldo\\0_Proyectos_2024\\ML_proyects\\KagelX\\KaggelX_Challenge\\data\\transform_data\\label_encoder.pkl']