In [33]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [34]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\clean_data.parquet'

In [35]:
data = pd.read_parquet(path)

In [36]:
df =data.copy()

In [37]:
df.head(3)

,brand,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,Ford,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,11000
1,BMW,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,8250
2,Jaguar,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,15000

In [38]:
df[df['brand'] == 'Mercedes-Benz'].value_counts()

brand          model_year  milage  fuel_type  engine                                         transmission                    ext_col                  int_col  accident                                price
Mercedes-Benz  2014        80300   Gasoline   302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel  7-Speed A/T                     White                    Beige    At least 1 accident or damage reported  22000    2
               1993        40000   –          –                                              5-Speed M/T                     Gray                     Gray     None reported                           24000    1
               2018        49000   Gasoline   362.0HP 3.0L V6 Cylinder Engine Gasoline Fuel  9-Speed A/T                     White                    Beige    None reported                           53000    1
                           49273   Gasoline   208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel   7-Speed A/T                     Blue                     Gray     None reported                           31000    1
                           49083   Gasoline   4.0L V8 32V GDI DOHC Twin Turbo                9-Speed Automatic               Obsidian Black Metallic  Black    None reported                           29995    1
                                                                                                                                                                                                               ..
               2014        143250  Gasoline   463.0HP 4.0L 8 Cylinder Engine Gasoline Fuel   A/T                             White                    Beige    None reported                           5499     1
                           138050  Gasoline   335.0HP 4.7L 8 Cylinder Engine Gasoline Fuel   7-Speed A/T                     Silver                   Black    None reported                           19000    1
                           137000  Gasoline   302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel  7-Speed A/T                     Black                    Black    None reported                           15000    1
                           136000  Gasoline   208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel   Transmission w/Dual Shift Mode  White                    Black    At least 1 accident or damage reported  12000    1
               2023        28399   Gasoline   469.0HP 4.0L 8 Cylinder Engine Gasoline Fuel   9-Speed A/T                     Black                    Black    None reported                           56515    1
Name: count, Length: 5086, dtype: int64

### Transformation

In [39]:
label_brand = LabelEncoder()
label_fuel = LabelEncoder()
label_engine = LabelEncoder()
label_trans = LabelEncoder()
label_ext_col = LabelEncoder()
label_ext_int = LabelEncoder()
label_accident = LabelEncoder()

In [40]:
df['brand_t'] = label_brand.fit_transform(df['brand'])
df['fuel_type_t'] = label_fuel.fit_transform(df['fuel_type'])
df['engine_t'] = label_engine.fit_transform(df['engine'])
df['transmission_t'] = label_trans.fit_transform(df['transmission'])
df['ext_col_t'] = label_ext_col.fit_transform(df['ext_col'])
df['int_col_t'] = label_ext_int.fit_transform(df['int_col'])
df['accident_t'] = label_accident.fit_transform(df['accident'])

In [41]:
#Sanity check
print('Clases aprendidas:', label_brand.classes_)
print('Clases aprendidas:', label_engine.classes_)

Clases aprendidas: ['Acura' 'Alfa' 'Aston' 'Audi' 'BMW' 'Bentley' 'Bugatti' 'Buick'
 'Cadillac' 'Chevrolet' 'Chrysler' 'Dodge' 'FIAT' 'Ferrari' 'Ford' 'GMC'
 'Genesis' 'Honda' 'Hummer' 'Hyundai' 'INFINITI' 'Jaguar' 'Jeep' 'Kia'
 'Lamborghini' 'Land' 'Lexus' 'Lincoln' 'Lotus' 'Lucid' 'MINI' 'Maserati'
 'Maybach' 'Mazda' 'McLaren' 'Mercedes-Benz' 'Mercury' 'Mitsubishi'
 'Nissan' 'Plymouth' 'Pontiac' 'Porsche' 'RAM' 'Rivian' 'Rolls-Royce'
 'Saturn' 'Scion' 'Subaru' 'Suzuki' 'Tesla' 'Toyota' 'Volkswagen' 'Volvo']
Clases aprendidas: ['1.2L I3 12V GDI DOHC Turbo' '1.3L I3 12V GDI DOHC Turbo'
 '1.3L I3 12V MPFI DOHC Turbo' ... 'V6' 'V8' '–']

In [42]:
df1 = df.copy()

In [43]:
del df1['brand']
del df1['engine']
del df1['transmission']
del df1['ext_col']
del df1['int_col']
del df1['accident']
del df1['fuel_type']

In [44]:
df1.head(5)

,model_year,milage,price,brand_t,fuel_type_t,engine_t,transmission_t,ext_col_t,int_col_t,accident_t
0,2018,74349,11000,14,2,719,2,26,57,1
1,2007,80000,8250,4,2,534,18,17,9,1
2,2009,91491,15000,21,2,541,14,181,6,1
3,2022,2437,63500,4,3,646,43,100,24,1
4,2001,111000,7850,40,2,219,34,249,9,1

In [45]:
#Agregamos la columna +5000
df1['no_5k_millas'] = df['milage'].apply(lambda x: 1 if x < 5000 else 0)

In [46]:
df1.head(5)

,model_year,milage,price,brand_t,fuel_type_t,engine_t,transmission_t,ext_col_t,int_col_t,accident_t,no_5k_millas
0,2018,74349,11000,14,2,719,2,26,57,1,0
1,2007,80000,8250,4,2,534,18,17,9,1,0
2,2009,91491,15000,21,2,541,14,181,6,1,0
3,2022,2437,63500,4,3,646,43,100,24,1,1
4,2001,111000,7850,40,2,219,34,249,9,1,0

In [47]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\transform_data.parquet'

In [48]:
df1.to_parquet(path)

### Label encoder export
Exporto el label encoder para utilizarlo despues en el modelo.

In [49]:
import joblib as jb

In [50]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\label_engine.pkl'
jb.dump(label_engine, path)

['D:\\0_Respaldo\\0_Proyectos_2024\\ML_proyects\\KagelX\\KaggelX_Challenge\\data\\transform_data\\label_engine.pkl']

In [51]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\label_ext_int.pkl'
jb.dump(label_ext_int, path)

['D:\\0_Respaldo\\0_Proyectos_2024\\ML_proyects\\KagelX\\KaggelX_Challenge\\data\\transform_data\\label_ext_int.pkl']

In [52]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\label_accident.pkl'
jb.dump(label_accident, path)

['D:\\0_Respaldo\\0_Proyectos_2024\\ML_proyects\\KagelX\\KaggelX_Challenge\\data\\transform_data\\label_accident.pkl']

In [53]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\label_brand.pkl'
jb.dump(label_brand, path)

['D:\\0_Respaldo\\0_Proyectos_2024\\ML_proyects\\KagelX\\KaggelX_Challenge\\data\\transform_data\\label_brand.pkl']

In [54]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\label_ext_col.pkl'
jb.dump(label_ext_col, path)

['D:\\0_Respaldo\\0_Proyectos_2024\\ML_proyects\\KagelX\\KaggelX_Challenge\\data\\transform_data\\label_ext_col.pkl']

In [55]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\label_fuel.pkl'
jb.dump(label_fuel, path)

['D:\\0_Respaldo\\0_Proyectos_2024\\ML_proyects\\KagelX\\KaggelX_Challenge\\data\\transform_data\\label_fuel.pkl']

In [56]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\label_trans.pkl'
jb.dump(label_trans, path)

['D:\\0_Respaldo\\0_Proyectos_2024\\ML_proyects\\KagelX\\KaggelX_Challenge\\data\\transform_data\\label_trans.pkl']