In [1]:
import pandas as pd

In [2]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\transform_data.parquet'

In [3]:
data = pd.read_parquet(path)

In [4]:
df = data.copy()

In [5]:
df.head(5)

,model_year,milage,price,brand_t,fuel_type_t,engine_t,transmission_t,ext_col_t,int_col_t,accident_t
0,2018,74349,11000,14,2,719,2,26,57,1
1,2007,80000,8250,4,2,534,18,17,9,1
2,2009,91491,15000,21,2,541,14,181,6,1
3,2022,2437,63500,4,3,646,43,100,24,1
4,2001,111000,7850,40,2,219,34,249,9,1

In [6]:
cor_1 = df.corr()

In [7]:
corTarget = abs(cor_1['price'])
relevant_features = corTarget[corTarget > 0.1]
relevant_features

model_year    0.216150
milage        0.248927
price         1.000000
engine_t      0.217236
accident_t    0.114705
Name: price, dtype: float64

In [11]:
df1 = df[['model_year','milage','engine_t','accident_t', 'price']]

In [9]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\KagelX\KaggelX_Challenge\data\transform_data\corr_data.parquet'

In [12]:
df1.to_parquet(path)